.nav-bar {
    color: red;
    font-size: 30px;
    font-family: Helvetica;
    margin: 50px;
}

.sign-up-link{
    color: green;
    font-size: 50px;
    margin: 100px;

}

#log-in{
    background-color: green;
    color: white;
    padding: 20px;
}